{% extends "layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock head %}


{% block content %}
        <div id="receitas">
            {% for item in items %}
            <a href="/recipe/{{loop.index0}}">
            <div class="card-receita">
                <img class="img-receita" src="{{item.image}}" alt="Imagem de {{item.title}}">
                <h4 class="title-receita">{{item.title}}</h4>
                <span class="author-receita">por {{item.author}}</span>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="scripts.js"></script>
{% endblock scripts %}
